<h2>Event List</h2>
<div class="card-container">
 
  <ng-container *ngIf="!selectedEvent">
    <div class="cardrahma event-card" *ngFor="let evn of evenements" (click)="selectEvent(evn)">
      <div class="card-body">
        <h5 class="card-title">{{ evn.nom }}</h5>
        <p class="card-date">{{ evn.date | date:'MMM d, y' }}</p>
      </div>
    </div>
  </ng-container>
  

    <ng-container *ngIf="selectedEvent">
      <div class="col-md-12">
        <div class="card event-card">
          <div class="card-body">
            <h5 class="card-title">{{ selectedEvent.nom }}</h5>
            <p class="card-text">{{ selectedEvent.description }}</p>
            <p class="card-date">{{ selectedEvent.date | date:'MMM d, y' }}</p>
            <p class="card-location">{{ selectedEvent.lieu }}</p>
            <p class="card-capacity">{{ selectedEvent.capacite }}</p>
            <p class="card-capacity">{{ selectedEvent.organisateur }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div><br><br>
  <h2>Fill in the form</h2>

<br>

<form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>

  <div class="form-group">
    <label for="nom">Name</label>
    <input type="text" class="form-control" id="nom" [(ngModel)]="userForm.nom" name="nom" required>
    <div class="invalid-feedback">
      Please enter a name.
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="userForm.email" name="email" required>
    <div class="invalid-feedback">
      Please enter a valid email address.
    </div>
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" [(ngModel)]="userForm.age" name="age" required>
    <div class="invalid-feedback">
      Please enter a valid age.
    </div>
  </div>

  <div class="form-group">
    <label for="typeUtilisateur">User Type</label>
    <input type="text" class="form-control" id="typeUtilisateur" [(ngModel)]="userForm.typeUtilisateur" name="typeUtilisateur" required>
    <div class="invalid-feedback">
      Please enter a user type.
    </div>
  </div>

  <mat-form-field style="width: 350px" appearance="outline">
 
    <mat-label>event </mat-label>
    <mat-select name="evenement" [(ngModel)]="userForm.event" required [formControl]="eventControl">
      <mat-option *ngFor="let evenement of evenements" [value]="evenement">
        {{evenement.nom}}
      </mat-option>
    </mat-select>


</mat-form-field>
<br>


  <button type="submit" class="btn btn-primary mt-3" style="background-color: #51565f;">Submit</button>

</form>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
